.flex-wrapper{
  display:flex;
  flex-flow: wrap row;
  justify-content: center;
  width:75%;
  margin:0 auto;
}

.flex_child{
  width: 65%;
  display:inline-block;
  align-items: flex-start;
}

.rules{
  width:25%;
  margin-right: 3rem;
}

.controls{
  
}

h1{
  text-align: center;
  color:red;
}
h2,h3,h4{
  color:red;
}

/* Board and cells */

.board{
  display:inline-block;
}

.cell_container{
  display:grid;
  width: 100%;
}
.cell{
  width:20px;
  height:20px;
  border:greenyellow solid 1px;
}
.cell:hover{
  background-color: red;
}

/* Controls */
.control_container{
  width:50%;
  margin:0 auto;
}


