h1{
  text-align: center;
  color:#45CBEF;
  font-size: 3rem;
}
.drag{
  color:#45CBEF;
}
h2,h3,h4,p{
  /* color:red; */
  
  color:#eb4514;
}

/* Flex wrapper and children */
.flex-wrapper{
  display:flex;
  flex-flow: wrap row;
  width:75%;
  margin:0 auto;

}

.flex_child{
  width: 45%;
}
.rules{
  width:25%;
}
.controls

/* Board and cells */

.board{
  display:inline-block;
}
.cell_container{
  display:grid;
  width: 100%;
}
.cell{
  width:20px;
  height:20px;
  border:greenyellow solid 1px;
}
.cell:hover{
  background-color: red;
}

/* Slider */
.MuiSlider-rail{
  color:#45CBEF;
}
.MuiSlider-thumb, .MuiSlider-mark, .MuiSlider-track{
  color: limegreen;
}

/* Accordian */
.accordian-container{
  width:25%;
  margin-right: 3rem;
}


.Mui-expanded{
color:#45CBEF;
}