h1{
  text-align: center;
  color:#45CBEF;
  font-size: 3rem;
  margin-top:.5rem;
}
h2{
  color:#45CBEF;
}
p{
  color:#eb4514;
}

/* Flex wrapper and children */
.flex-wrapper{
  display:flex;
  flex-flow: wrap row;
  width:75%;
  margin:0 auto;
}
.flex_child{
  width: 45%;
}
.rules{
  width:25%;
}


/* Board and cells */

.board{
  display:inline-block;
}
.cell_container{
  display:grid;
  width: 100%;
}
.cell{
  width:20px;
  height:20px;
  border:greenyellow solid 1px;
}
.cell:hover{
  background-color: white;
}

/* Slider */
.MuiSlider-rail{
  color:#45CBEF;
}
.MuiSlider-thumb, .MuiSlider-mark, .MuiSlider-track{
  color: limegreen;
}
#discrete-slider{
  color:#eb4514;
  margin-top: -.5rem;
  margin-bottom:.75rem;
}

/* Speed adjuster */
.speed_adjuster button{
  border: #45CBEF solid 2px;
  color:#45CBEF;
}
.speed_adjuster p{
color:#eb4514;
margin:0;
}

/* Accordian */
.accordian-container{
  width:25%;
  margin-right: 3rem;
}
.Mui-expanded{
color:#45CBEF;
}

button{
  background-color: #45CBEF;
  color: #eb4514;
  border:black solid 2px;
  border-radius: 20%;
  font-size: 1.25rem;
  margin: .75rem .25rem;
}
.control_container{
   margin-top:-3.5rem;
   margin-left: 12rem;
}
.control_container p{
  margin:0 3rem;
  font-size: 1.25rem;
}